<h2>Firebase-be rögzített cookiek listája</h2>
<hr>

<div *ngIf="cookieListItem?.length > 0;else noItems">
  <ul *ngFor="let item of cookieListItem" class="collection">
    <li class="collection-item">
    	<strong>Statisztikai:</strong> {{item.statistical}} <strong>Marketing:</strong> {{item.marketing}} <strong>Egyéb:</strong> {{item.other}} <strong>Id:</strong> {{item.id}}
    </li>
  </ul>
</div>

<ng-template #noItems>
  <hr>
  Jelenleg nincsen adatbázisba mentett cookie lista, adjon hozzá egyet!
</ng-template>