<p-dialog  header="" [closable]="false" [(visible)]="acceptCookieModal" [modal]="true" [responsive]="true" [width]="370" [minWidth]="450" [minY]="70" 
        [maximizable]="false" [baseZIndex]="10000">
        <p-header>
            <h3> A te süti belállításaid</h3>
        </p-header>
        
        <div class="gradient-box">
            <div class="dialog-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur
                </p>
                <div class="box-title">
                    <span class="hyphen-box">-</span>
                    Lorem ipsum dolor 
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>

                <div class="box-title">
                    <span class="hyphen-box">-</span>
                    Lorem ipsum dolor 
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>

                <div class="box-title">
                    <span class="hyphen-box">-</span>
                    Lorem ipsum dolor 
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <div class="box-title">
                    <span class="hyphen-box">-</span>
                    Lorem ipsum dolor 
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                
            </div>
            <div class="gradient">
            </div>
        </div>
        

        <p-footer>
            <button type="button" pButton icon="" class="accept-cookie-btn" (click)="userWantsAllCookisModalSave()" label="Sütik elfogadása"></button>
            <button type="button" pButton icon="pi pi-close" (click)="openCookieDetailSettingsModal()" label="Bővebb információ" class="ui-button-secondary" style="border: none; text-transform: lowercase!important;"></button>
        </p-footer>
</p-dialog>

<p-dialog header="" [closable]="false" [(visible)]="setUserCookieDatailsModal" [modal]="true" [responsive]="true" [width]="470" [minWidth]="450" [minY]="70" 
        [maximizable]="false" [baseZIndex]="10000">
        <p-header>
            <h3> A te süti belállításaid</h3>
        </p-header>

        <div class="ui-g inbox-cards">
            <div class="ui-g-12">
                <div class="in-dialog-title">
                    Szükséges
                </div>
                <div (click)="CookieDescriptionHide.required = !CookieDescriptionHide.required; toggler($event)" class="toggle-text" id="required-toggle">
                    részletek
                </div>
                <i *ngIf="!CookieDescriptionHide.required" class="fa fa-angle-down arrow" (click)="CookieDescriptionHide.required = !CookieDescriptionHide.required; toggler($event)" id="required-toggl-arrow"></i>
                <i *ngIf="CookieDescriptionHide.required" class="fa fa-angle-up  arrow" (click)="CookieDescriptionHide.required = !CookieDescriptionHide.required; toggler($event)" id="required-toggl-arrow"></i>
            </div>
            <div class="ui-g-12 hiddened-toggle gradient-box-2" *ngIf="CookieDescriptionHide.required">  
                    <p class="toggle-box-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et.
                    </p>
                    
                     <p-table [value]="cookieDetailTableContetns">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Név</th>
                                <th>Leírás</th>
                                <th>Lejárati idő</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-contet>
                            <tr>
                                <td>{{contet.name}}</td>
                                <td>{{contet.description}}</td>
                                <td>{{contet.expirationDate}}</td>
                            </tr>
                        </ng-template>
                    </p-table>

                    <p class="toggle-box-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem unde non veniam facilis nostrum molestiae maiores architecto similique tenetur modi. Non suscipit cumque, adipisci harum aut nihil minima sint asperiores.
                    </p>
                    <div class="gradient-2">
                    </div>
            </div>
        </div>

       <div class="ui-g inbox-cards">
            <div class="ui-g-8">
                <div class="in-dialog-title">
                    Statisztikai
                </div>
                <div (click)="CookieDescriptionHide.statistical = !CookieDescriptionHide.statistical; toggler($event)" class="toggle-text" id="statistical-toggle">
                    részletek
                </div>
                <i *ngIf="!CookieDescriptionHide.statistical" class="fa fa-angle-down arrow" (click)="CookieDescriptionHide.statistical = !CookieDescriptionHide.statistical; toggler($event)" id="statistical-toggl-arrow"></i>
                <i *ngIf="CookieDescriptionHide.statistical" class="fa fa-angle-up  arrow" (click)="CookieDescriptionHide.statistical = !CookieDescriptionHide.statistical; toggler($event)" id="statistical-toggl-arrow"></i>
            </div>
            <div class="ui-g-4">
                <div style="float: right; margin-top: 10px;">
                    <div *ngIf="!cookieItem.statistical" class="switch-text">
                        ki
                    </div>
                    <div *ngIf="cookieItem.statistical" class="switch-text">
                        be
                    </div>
                <p-inputSwitch styleClass="float-right" [(ngModel)]="cookieItem.statistical" (onChange)="handleChange($event)"></p-inputSwitch>
                </div>
            </div>
            <div class="ui-g-12 hiddened-toggle gradient-box-2" *ngIf="CookieDescriptionHide.statistical">  
                    <p class="toggle-box-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et.
                    </p>
                    
                     <p-table [value]="cookieDetailTableContetns">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Név</th>
                                <th>Leírás</th>
                                <th>Lejárati idő</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-contet>
                            <tr>
                                <td>{{contet.name}}</td>
                                <td>{{contet.description}}</td>
                                <td>{{contet.expirationDate}}</td>
                            </tr>
                        </ng-template>
                    </p-table>

                    <p class="toggle-box-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem unde non veniam facilis nostrum molestiae maiores architecto similique tenetur modi. Non suscipit cumque, adipisci harum aut nihil minima sint asperiores.
                    </p>
                <div class="gradient-2">
                </div>
            </div>
        </div>

        <div class="ui-g inbox-cards">
            <div class="ui-g-8">
                <div class="in-dialog-title">
                    Marketing
                </div>
                 <div (click)="CookieDescriptionHide.marketing = !CookieDescriptionHide.marketing; toggler($event)" class="toggle-text" id="marketing-toggle">
                    részletek
                </div>
                <i *ngIf="!CookieDescriptionHide.marketing" class="fa fa-angle-down arrow" (click)="CookieDescriptionHide.marketing = !CookieDescriptionHide.marketing; toggler($event)" id="marketing-toggl-arrow"></i>
                <i *ngIf="CookieDescriptionHide.marketing" class="fa fa-angle-up  arrow" (click)="CookieDescriptionHide.marketing = !CookieDescriptionHide.marketing; toggler($event)" id="marketing-toggl-arrow"></i>
            </div>
            <div class="ui-g-4">
                <div style="float: right; margin-top: 10px;">
                    <div *ngIf="!cookieItem.marketing" class="switch-text">
                        ki
                    </div>
                    <div *ngIf="cookieItem.marketing" class="switch-text">
                        be
                    </div>
                <p-inputSwitch styleClass="float-right" [(ngModel)]="cookieItem.marketing" (onChange)="handleChange($event)"></p-inputSwitch>
                </div>
            </div>
            <div class="ui-g-12 hiddened-toggle gradient-box-2" *ngIf="CookieDescriptionHide.marketing">  
                    <p class="toggle-box-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et.
                    </p>
                    
                     <p-table [value]="cookieDetailTableContetns">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Név</th>
                                <th>Leírás</th>
                                <th>Lejárati idő</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-contet>
                            <tr>
                                <td>{{contet.name}}</td>
                                <td>{{contet.description}}</td>
                                <td>{{contet.expirationDate}}</td>
                            </tr>
                        </ng-template>
                    </p-table>

                    <p class="toggle-box-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem unde non veniam facilis nostrum molestiae maiores architecto similique tenetur modi. Non suscipit cumque, adipisci harum aut nihil minima sint asperiores.
                    </p>
                <div class="gradient-2">
                </div>
            </div>
        </div>

       <div class="ui-g inbox-cards">
            <div class="ui-g-8">
                <div class="in-dialog-title">
                    Egyéb
                </div>
                <div (click)="CookieDescriptionHide.other = !CookieDescriptionHide.other; toggler($event)" class="toggle-text" id="other-toggle">
                    részletek
                </div>
                <i *ngIf="!CookieDescriptionHide.other" class="fa fa-angle-down arrow" (click)="CookieDescriptionHide.other = !CookieDescriptionHide.other; toggler($event)" id="other-toggl-arrow"></i>
                <i *ngIf="CookieDescriptionHide.other" class="fa fa-angle-up  arrow" (click)="CookieDescriptionHide.other = !CookieDescriptionHide.other; toggler($event)" id="other-toggl-arrow"></i>
            </div>
            <div class="ui-g-4">
                <div style="float: right; margin-top: 10px;">
                    <div *ngIf="!cookieItem.other" class="switch-text">
                        ki
                    </div>
                    <div *ngIf="cookieItem.other" class="switch-text">
                        be
                    </div>
                <p-inputSwitch styleClass="float-right" [(ngModel)]="cookieItem.other" (onChange)="handleChange($event)"></p-inputSwitch>
                </div>
            </div>
            <div class="ui-g-12 hiddened-toggle gradient-box-2" *ngIf="CookieDescriptionHide.other">  
                    <p class="toggle-box-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et.
                    </p>
                    
                     <p-table [value]="cookieDetailTableContetns">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Név</th>
                                <th>Leírás</th>
                                <th>Lejárati idő</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-contet>
                            <tr>
                                <td>{{contet.name}}</td>
                                <td>{{contet.description}}</td>
                                <td>{{contet.expirationDate}}</td>
                            </tr>
                        </ng-template>
                    </p-table>

                    <p class="toggle-box-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem unde non veniam facilis nostrum molestiae maiores architecto similique tenetur modi. Non suscipit cumque, adipisci harum aut nihil minima sint asperiores.
                    </p>
                <div class="gradient-2">
                </div>
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-8 bold-switch">
                Mindet elfogadom
            </div>
            <div class="ui-g-4">
                <div style="float: right; position: relative;">
                    <div *ngIf="!userWantAllTheCookies" class="switch-text-special">
                        ki
                    </div>
                    <div *ngIf="userWantAllTheCookies" class="switch-text-special">
                        be
                    </div>

                    <p-inputSwitch [(ngModel)]="userWantAllTheCookies" (onChange)="wantAllTheCookieHandleChange($event)"></p-inputSwitch>
                </div>
            </div>
        </div>

        <p-footer>
            <button type="button" pButton icon="" (click)="userWantsSpecilaCookisModalSave()"label="Kész" class="long-btn"></button>
        </p-footer>
</p-dialog>