:root {
    --main-blue: #33b7e8;
    --error-red: #ff495c;
	--success-green: #06d6a0;
	--table-border-gray: #e5e5e5;
	--hr-gray: #c4c4c4;
	--background-gray: #e9e9e9;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

/*modal*/

.float-right {
	float: right;
}

.block-level {
	display: block;
}

.cookie-detail-cards {
	background-color: white!important;
}

body .ui-dialog .ui-dialog-content, .ui-dialog .ui-dialog-footer {
    background-color: #f4f4f4!important;
}

.toggle-text, .arrow {
	color: var(--main-blue);
	cursor: pointer;
	font-weight: bold;
	display: inline;
}

body .ui-inputswitch .ui-inputswitch-slider {
    background: var(--error-red)!important;
}

body .ui-inputswitch.ui-inputswitch-checked:not(.ui-state-disabled):hover .ui-inputswitch-slider, body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider {
    background: var(--success-green)!important;
}

h3, .bold-switch, body .ui-button.ui-button-text-icon-left .ui-button-text {
	font-weight: bold;
}

h3, .bold-switch, {
	text-transform: uppercase;
	margin: 0;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 1300;
    font-size: 16px;

}

h3 {
	margin-bottom: 10px;
}

body .ui-button:enabled:active, body .ui-button {
	background-color: var(--main-blue)!important;
	border-color: var(--background-gray)!important;
	text-transform: uppercase!important;
	font-weight: bold;
}

body .ui-button.ui-button-text-icon-left .ui-button-text {
	background-color: var(--background-gray)!important;
	color: var(--main-blue)!important;
}

body .ui-dialog .ui-dialog-footer, body .ui-dialog .ui-dialog-content {
	border: none!important;
}

body .ui-dialog .ui-dialog-titlebar, body .ui-dialog .ui-dialog-content, body .ui-dialog .ui-dialog-footer {
	background-color: var(--background-gray)!important;
}

.dialog-body {
	padding: 3px 10px 10px 10px;
	background-color: white;
	height: 350px;
	overflow-x: hidden;
	z-index: 10;
	
}

.gradient-box {
	position: relative;
	font-size: 11px;
	font-weight: 500;
}

.gradient-box-2 {
	position: relative;
}

.dialog-body::-webkit-scrollbar {
    width: 0px;
}

.gradient {
	background-image: linear-gradient(transparent, white);
	height: 35px;
	width: 100%;
	margin-top: -10px;
	z-index: 100;
	position: absolute;
	top: 325px;
}

.gradient-2 {
	background-image: linear-gradient(transparent, white);
	height: 35px;
	width: 98%;
	z-index: 100;
	position: absolute;
	top: 70px;
}

.hyphen-box {
	padding-right: 20px;
}

.box-title {
	padding-top: 10px;
	padding-bottom: 10px;
}

body .ui-dialog .ui-dialog-titlebar {
	padding-bottom: 10px!important;
}

body .ui-dialog .ui-dialog-footer {
	text-align: center!important;
}

body .ui-button.ui-button-text-only .ui-button-text {
    padding: 10px 35px 10px 35px!important;
    font-size: 12px!important;
}

body .ui-table .ui-table-thead > tr > th, body .ui-table .ui-table-tbody > tr > td {
    padding: 3px 3px!important;
}

th {
    text-align: left!important;
}

body .ui-dialog .ui-dialog-titlebar {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.toggle-box-text {
	font-size: 12px;
}

.ui-g-12.hiddened-toggle {
    padding-top: 0;
    height: 110px;
    overflow: scroll;
}

.ui-g-12.hiddened-toggle::-webkit-scrollbar {
    width: 7px;
}

.ui-g-12.hiddened-toggle::-webkit-scrollbar-track {
    background: white; 
}
 
.ui-g-12.hiddened-toggle::-webkit-scrollbar-thumb {
    background: var(--hr-gray); 
    border-radius: 10px;
}

.ui-g-12.hiddened-toggle::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

table {
    font-size: 12px;
    margin-top: 14px;
}

.in-dialog-title {
	font-weight: bold;
}

.inbox-cards {
	background-color: white;
	margin-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.switch-text {
	display: inline;
	font-weight: bold;
	text-transform: uppercase;
	padding-right: 20px;
}

.switch-text-special {
	display: inline;
	position: absolute;
	top: 3px;
    right: 60px;
    text-transform: uppercase;
    font-weight: bold;
}

.long-btn {
	width: 200px!important;
	border-radius: 5px!important;
}

.accept-cookie-btn {
	border-radius: 5px!important;
}

